style
  html, body { width: 100%; height: 100%; }
  body { font: 14px/20px Verdana; color: #222; background: url(game/images/metal.jpg); margin: 0; padding: 0 }
  h1, h2 { line-height: 30px; margin-bottom: 5px; }
  p { margin: 5px 0;}
  #wrapper { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); padding: 50px; box-sizing: border-box; }
  #box { width: 800px; margin: 0 auto; padding: 20px; background: rgba(255, 255, 255, 0.7); border-radius: 15px; }
  h1 { display: inline-block; }
  h2.by { display: inline-block; padding-left: 10px; color: #666; }
  ul.people { list-style: none; padding: 0; }
  ul.people a { font-weight: bold; }
  img.avatar {
    vertical-align: middle;
    margin: 2px 5px 2px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 30px;
    height: 30px;
  }
  a { color: #369; }
  .play { font: 24px/36px Verdana; }
  .play span { margin: 0 20px; font-weight: bold; }
#wrapper
  #box
    h1 Outburst
    h2.by by 
      a(href="http://nodeknockout.com/teams/aranja") Aranja
    p Outburst is a multiplayer game that combines the best of a tower defense and a shooter. It is a co op game where players assist defending their base from enemies.
    p The game uses WebGL and WebSockets and is currently optimized for Chrome Stable.

    h2 The Team
    ul(class="people")
      li
        img(src="http://gravatar.com/avatar/9bee4c3cbb5f7610b21d1583a21968bd?s=30&amp;d=retro", class="avatar")
        a(href="http://flassari.is") Ari Þór Arnbjörnsson
        span &nbsp;- Tampere, Finland
      li
        img(src="http://gravatar.com/avatar/6e98b58467d1c836a0e2ca29e5b74086?s=30&amp;d=retro", class="avatar")
        a(href="http://nilsson.is") Eiríkur Heiðar Nilsson
        span &nbsp;- Reykjavík, Iceland
      li
        img(src="http://gravatar.com/avatar/b9812d42f0b21b0652537387e02eebdb?s=30&amp;d=retro", class="avatar")
        a(href="http://nodeknockout.com/people/4e5570c45176ed471a0002c2") Sveinn Björnsson
        span &nbsp;- Reykjavík, Iceland
      li
        img(src="http://gravatar.com/avatar/8874fd8c614c61a592afa7d28e129a5c?s=30&amp;d=retro", class="avatar")
        a(href="http://thorsteinsson.is") Ægir Þorsteinsson
        span &nbsp;- Reykjavik, Iceland
    
    h2 Play Outburst
    p.play
      a(href="/oauth/authenticate")
        img(src="game/images/twitter-logon.png")
      span or
      a(href="/game") Play as anonymous
  