!!!
html(lang="en", manifest="/cache.manifest")
  head
    title Outburst by Aranja
    link(rel='stylesheet', href='/css/style.css')
  body
    #wrapper
      #box
        h1 Outburst
        h2.by by 
          a(href="http://nodeknockout.com/teams/aranja") Aranja
        p Outburst is a multiplayer game that combines the best of a tower defense and a shooter. It is a co op game where players assist defending their base from enemies.
        p The game uses WebGL and WebSockets and is currently optimized for Chrome Stable.

        .row
          .col50
            h2 Requirements
            ul.requirements
              li(data-bind="css: {ok: supportsWebgl, no: !supportsWebgl}") WebGL support
              li(data-bind="css: {ok: supportsWebsockets, no: !supportsWebsockets}") Websocket support
              li(data-bind="css: {pending: connection() == null, ok: connection() == true, no: connection() == false}") Connection

            h2 Play Outburst
            p.play
              a(href="/oauth/authenticate")
                img(src="game/images/twitter-logon.png")
              span or
              a(href="/game") Play as anonymous
          .col50
            h2 Controls
            ul
              li W, A, S, D or arrows to move player
              li Mouse to aim
              li Mouse wheel or z and x to zoom
              li Enter or y to chat
              li Esc to exit chat
              li 1 to use pistol
              li 2 to use machine gun
              li 3 to use shotgun

    script(src="js/libs/modernizr.js")
    script(src="js/libs/knockout.js")
    script(src="/socket.io/socket.io.js")
    :coffeescript
      # A better test for webgl support
      Modernizr.addTest "webglcontext", ->
        canvas = document.createElement("canvas")
        for c in ["webgl", "experimental-webgl", "moz-webgl", "o-webgl", "webkit-3d", "3d"]
          try
            return true if canvas.getContext c
          catch e
            console.log e
        return false

      # Test if we can connect to server using socket.io
      testConnection = ->
        @socket = io.connect()
        @socket.on 'connect', ->
          vm.connection true
        @socket.on 'error', (err) ->
          vm.connection false

      # ViewModel for page
      vm =
        supportsWebgl: Modernizr.webglcontext
        supportsWebsockets: Modernizr.websockets
        connection: ko.observable(null)

      ko.applyBindings vm
      testConnection()

